@use "../../styles/variables.scss" as *;

.footer {
  background: $secondary; 
  color: $white;
  padding: 15px 40px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footerLeft {
    flex: 1;
    h2 {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .footerCenter {
    flex: 1;
    text-align: center; 
    p {
      font-size: 14px;
      margin: 2px 0;
    }
  } 

  .footerContact {
    flex: 1;
    text-align: center; 
    p {
      font-size: 14px;
      margin: 2px 0;
    }
  }

  .footerRight {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    gap: 15px;

    a {
      color: $white;
      font-size: 18px;
      transition: 0.3s;

      &:hover {
        color: $primary; 
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    .footerRight {
      justify-content: center;
    }
  }
}
