@use '../../styles/variables.scss' as *;

.staffCard {
  position: relative;
  width: 250px;
  background: $white;
  border: solid 1px $border;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  .staffImage {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  /* Default Bottom Text */
  .staffInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    font-family: $font1;

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $secondary;
    }

    p {
      font-size: 14px;
      color: $secondary;
    }
  }

  /* Hover Overlay */
  .overlay {
    position: absolute;
    bottom: -100%; 
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 15px;
    transition: bottom 0.3s ease-in-out;
    font-family: $font1;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }

  &:hover .overlay {
    bottom: 0; 
  }

  &:hover .staffInfo {
    opacity: 0; 
  }
}
