@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

$font1: 'Trebuchet Ms', sans-serif;
$font2: 'Odibee Sans', cursive;

$primary: #AF7627;
$secondary: #000000;
$beige: #FED9C9; 
$green: #339900;
$red: #FF0000; 
$white: #FFFFFF;
$border: #707070;
$search-icon: #999999;